html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} 
html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
    box-sizing: border-box;
}
body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 920px;
    height: 500px;
    align-items: center;
}
.icon {
    width: 64px;
    height: 40px;
}
.heading {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #F2F2F2;
    margin-top: 0;
    margin-bottom: 0;
}
.description {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    line-height: 25px;
    margin-left: 1.4em;
    margin-right: 1.4em;
    margin-top: 0;
    padding-bottom: 3em;
}
.sedan, .suv, .luxury {
    width: 307px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding-left: 2em;
}
.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.suv {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}
.sedan-button, .suv-button, .luxury-button {
    width: 146px;
    height: 48px;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;  
}
.sedan-button {
    color: hsl(31, 77%, 52%);
}
.suv-button {
    color: hsl(184, 100%, 22%);
}
.luxury-button {
    color: hsl(179, 100%, 13%);
}
button:hover {
    color: #FFFFFF;
    background-color: transparent;
    border-style: solid;
    border-color: #FFFFFF;
    transition: background-color 2s;
}

/* MOBILE VERSION */

@media screen and (max-width: 690px) { 
    main  {
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 1350px;
    }
    .sedan, .suv, .luxury {
        width: 327px;
        height: 442px;
    }  
    .sedan {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        border-bottom-left-radius: 0;
    }
    .luxury {
        border-top-right-radius: 0;
        border-bottom-right-radius: 2%;
        border-bottom-left-radius: 2%;
    }  
    button {
        margin-top: 0;
    }
    .description {
        margin-bottom: 0;
        padding-bottom: 2em;
    }
}